img {max-width:500px;}
.texti {margin: 50px 0px 50px 0px;}
span {padding: 10px;}
img {float:right;}

.container {
    border: 1px solid black;
    width: 150px;
    margin: 20px;
}


table {text-align: center; margin-top:50px; border-collapse:separate;}
th {background-color:seagreen; margin-bottom:50px;}
td {background-color:salmon; border: 1px solid black; padding: 10px; margin-top: 20px;}
